
/* Header / bienvenida*/
.header{
    width: 100%;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor{
    
    background: url("../img/background.jpeg") no-repeat center/cover;
    background-attachment: fixed;
}

.contenedor-maq-de-escribir h1{
    font-style: italic;
    margin: 0px 50px;
    border: 1px solid rgb(0, 255, 200);
    box-shadow: 0px 0px 5px rgb(0, 255, 200);
    background-color: rgb(2, 151, 184);
    padding: 5px;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: 1s all;   
    font-size: 2.5em;
}
#descargar-cv{
    font-style: italic;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: 1px solid rgb(255, 0, 0);
    box-shadow: 0px 0px 7px rgb(255, 0, 0);
    
    padding: 10px;
}
#descargar-cv:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.1);
}
.image-header{
    margin-right: 20px;
    display: grid;
    justify-items: center;
}
.image-header img{

    border: 1px solid rgb(0, 255, 200);
    box-shadow: 0px 0px 10px rgb(0, 255, 200);
    border-radius: 100%;
    margin-bottom: 15px;

}
.image-header p{
    text-align: center;
    color: white;
    font-size: 25px;
}

/* Responsive Header*/
@media (max-width: 846px){
    .header{
        display: block;
        height: auto;
        padding: 40px 0px;
    }
    .header div{
        margin: 60px 0px;
    }
}